<div align="left">
    <img src='./businesscard.jpg' width='400' align="right">
</div>

# Utilizando Python para Analisar Dados sobre a Pandemia Covid-19
## Renato Profeta 
### @Guitars.AI

In [1]:
%%html
<iframe width="560" height="315" src="https://www.youtube.com/embed/01LaW4ZyoFU" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

## Download dos Dados Oficiais

In [2]:
import urllib.request

In [3]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
urllib.request.urlretrieve(url, './corona_cases.csv')

('./corona_cases.csv', <http.client.HTTPMessage at 0x7ff9cf37fe10>)

## Transformar o arquivo .csv em Pandas Dataframe

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('./corona_cases.csv')

In [6]:
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,21,22,22,22,24,24,40,40,74,84
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,51,55,59,64,70,76,89,104,123,146
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,54,60,74,87,90,139,201,230,264,302
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,2,39,39,53,75,88,113,133,164,188
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,0,1,2,2,3,3,3

## Obter apenas as informações desejadas

In [7]:
df=df.drop(['Lat','Long','Province/State'], axis=1)
df=df.set_index('Country/Region')

In [8]:
countries = ['Italy', 'Germany', 'Spain', 'Brazil']
data=df.loc[countries,: ]

In [9]:
data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20,3/24/20,3/25/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Italy,0,0,0,0,0,0,0,0,0,2,...,27980,31506,35713,41035,47021,53578,59138,63927,69176,74386
Germany,0,0,0,0,0,1,4,4,4,5,...,7272,9257,12327,15320,19848,22213,24873,29056,32986,37323
Spain,0,0,0,0,0,0,0,0,0,0,...,9942,11748,13910,17963,20410,25374,28768,35136,39885,49515
Brazil,0,0,0,0,0,0,0,0,0,0,...,200,321,372,621,793,1021,1546,1924,2247,2554

## Sincronizar os dados de acordo com a data do primeiro caso confirmado em cada país

In [10]:
(data == 0).sum(axis=1)

Country/Region
Italy       9
Germany     5
Spain      10
Brazil     35
dtype: int64

In [11]:
Italy = data.iloc[0,9:].reset_index(drop=True)
Germany = data.iloc[1,6:].reset_index(drop=True)
Spain = data.iloc[2,10:].reset_index(drop=True)
Brazil = data.iloc[3,35:].reset_index(drop=True)

## Visualizar os Dados

In [12]:
%matplotlib inline
import matplotlib.pyplot as plt
from ipywidgets import interactive

In [13]:
def f(days=0):
    plt.figure(figsize=(10,8))
    Brazil.plot(label='Brazil')
    Spain[:len(Brazil)+days].plot(label='Spain')
    Italy[:len(Brazil)+days].plot(label='Italy')
    Germany[:len(Brazil)+days].plot(label='Germany')
    plt.grid()
    plt.legend()
    plt.title('Number of Covid-19 Cases since the First Confirmed Case')
    plt.xlabel('Number of days since first confirmed case in each country')
    plt.ylabel('Number of Confirmed Cases')
    plt.show()

In [14]:
interactive_plot = interactive(f, days=(0, len(Germany)))
interactive_plot

interactive(children=(IntSlider(value=0, description='days', max=58), Output()), _dom_classes=('widget-interac…