<div align="left">
    <img src='./businesscard.jpg' width='400' align="right">
</div>
# Utilizando Python para Analisar Dados sobre a Pandemia Covid-19
## Renato Profeta 
### @Guitars.AI

In [38]:
%%html
<iframe width="560" height="315" src="https://www.youtube.com/embed/01LaW4ZyoFU" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

## Download dos Dados Oficiais

In [22]:
import urllib.request

In [37]:
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
urllib.request.urlretrieve(url, './corona_cases.csv')

('./corona_cases.csv', <http.client.HTTPMessage at 0x13100c35fd0>)

## Transformar o arquivo .csv em Pandas Dataframe

In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('./corona_cases.csv')

In [26]:
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,50,53,59,70,75,82,114,147,177,212
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,511,581,639,639,701,773,839,825,878,889
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,150,160,178,178,200,212,226,243,266,313
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,117,129,149,149,197,238,428,566,673,790

## Obter apenas as informações desejadas

In [27]:
df=df.drop(['Lat','Long','Province/State'], axis=1)
df=df.set_index('Country/Region')

In [28]:
countries = ['Italy', 'Germany', 'Spain', 'Brazil']
data=df.loc[countries,: ]

In [29]:
data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Italy,0,0,0,0,0,0,0,0,0,2,...,9172,10149,12462,12462,17660,21157,24747,27980,31506,35713
Germany,0,0,0,0,0,1,4,4,4,5,...,1176,1457,1908,2078,3675,4585,5795,7272,9257,12327
Spain,0,0,0,0,0,0,0,0,0,0,...,1073,1695,2277,2277,5232,6391,7798,9942,11748,13910
Brazil,0,0,0,0,0,0,0,0,0,0,...,25,31,38,52,151,151,162,200,321,372

## Sincronizar os dados de acordo com a data do primeiro caso confirmado em cada país

In [30]:
(data == 0).sum(axis=1)

Country/Region
Italy       9
Germany     5
Spain      10
Brazil     35
dtype: int64

In [31]:
Italy = data.iloc[0,9:].reset_index(drop=True)
Germany = data.iloc[1,6:].reset_index(drop=True)
Spain = data.iloc[2,10:].reset_index(drop=True)
Brazil = data.iloc[3,35:].reset_index(drop=True)

## Visualizar os Dados

In [32]:
%matplotlib inline
import matplotlib.pyplot as plt
from ipywidgets import interactive

In [33]:
def f(days=0):
    plt.figure(figsize=(10,8))
    Brazil.plot(label='Brazil')
    Spain[:len(Brazil)+days].plot(label='Spain')
    Italy[:len(Brazil)+days].plot(label='Italy')
    Germany[:len(Brazil)+days].plot(label='Germany')
    plt.grid()
    plt.legend()
    plt.title('Number of Covid-19 Cases since the First Confirmed Case')
    plt.xlabel('Number of days since first confirmed case in each country')
    plt.ylabel('Number of Confirmed Cases')
    plt.show()

In [34]:
interactive_plot = interactive(f, days=(0, len(Germany)))
interactive_plot

interactive(children=(IntSlider(value=0, description='days', max=51), Output()), _dom_classes=('widget-interac…